<%-include('../component/head.ejs')-%>
<%-include('../component/header.ejs')-%> 
<%-include('../component/slider.ejs')-%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section">
                <h1>
                    Hello
                </h1>
                <h2><%- x.Heading -%></h2>
            </div>
        </div>
    </div>
</div>

<%-include('../component/footer.ejs')-%>